// header style
.site_header{
    padding: 15px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

// min-width
@media (min-width: 1199px){
	
}

// max width media
@media (max-width: 1600px){
	
}
