/* variables */

$color-site: #2A3C4B;
$color-hover: #D1FA94;

// @include common-transition(all 0.3s ease-out);
@mixin common-transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// @include box-shadow(10px 10px 5px 0px rgba(0,0,0,0.75));
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-ms-shadow: $shadow;
	box-shadow: $shadow;
}

// @include transform(translateY(100px));
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// @include d-flex;
@mixin d-flex{
	display: -webkit-flex;
	display: flex;
}

// @include d-inline-flex;
@mixin d-inline-flex{
	display: -webkit-inline-flex;
	display: inline-flex;
}

// @include flex-wrap(wrap);
@mixin flex-wrap($value){
	-webkit-flex-wrap: $value;
	flex-wrap: $value;
}

// @include justify-content(center);
@mixin justify-content($value) {
	-webkit-justify-content: $value;
	justify-content: $value;
}

// @include align-items(center);
@mixin align-items($value){
	-webkit-box-align: $value;
	align-items: $value;
}

// @include flex-direction(column);
@mixin flex-direction($value){
	-webkit-box-orient: $value;
	flex-direction: $value;
}

// @include order($value);
@mixin order($value) {
	-webkit-box-ordinal-group: $value;
	order: $value;
}

// @include flex-grow($value);
@mixin flex-grow($value) {
	-webkit-flex-grow: $value;
	flex-grow: $value;
}

// @include flex-shrink($value);
@mixin flex-shrink($value) {
	-webkit-flex-shrink: $value;
	flex-shrink: $value;
}
